# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
packages/
.vs/
Build/
PrismaticCore/x64/
PrismaticMath/x64/
PrismaticUtil/x64/Debug/
PrismaticCore.Test/x64/
PrismaticRenderer/x64/Debug/
PrismaticTest/x64/
/PrismaticRenderer/x64/Test
/PrismaticPathTracer/x64
/PrismaticRenderer/x64/Release
/PrismaticUtil/Release
/PrismaticUtil/x64
/Performance1.psess
/testdiag.txt
/testdiag.host.17-10-30_14-56-48_65097_1.txt
/Report171120.vspx
