# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
packages/
.vs/
Build/
PrismaticCore/x64/
PrismaticMath/x64/
PrismaticUtil/x64/Debug/
PrismaticCore.Test/x64/
PrismaticRenderer/x64/Debug/
PrismaticTest/x64/
